@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .page-max-width {
    @apply max-w-[1200px] mx-auto px-2 md:px-8;
  }

  .light-border {
    @apply border-[1px] border-slate-200;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}